<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<form th:action="@{/products/updateProduct}" th:object="${product}" method="post">
    <table border="1">
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Count</td>
            <td><input type="text" th:field="*{count}"></td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td><input type="text" th:field="*{manufacturer}"></td>
        </tr>
        <tr>
            <td>Type of product</td>
            <td><input type="text" th:field="*{productType}"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td><input type="text" th:field="*{weight}"></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><input type="text" th:field="*{color}"></td>
        </tr>
        <tr>
            <td>Type of pet</td>
            <td><input type="text" th:field="*{petType}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="text" th:field="*{imgUrl}"></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>