<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1">
    <tr>
        <td>Name</td>
        <td>Email</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">Testname</td>
        <td th:text="${user.email}">Testmail</td>
    </tr>
</table>
<a th:href="@{/users/new}">Add new</a>

</body>
</html>