<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="menu-css">
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body  id="nav-menu">
<h1 class="header">  ANIMALtion</h1>
<div class="bg">
    <div class="container">
        <div class="topnav">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/products}">Products</a>
            <a th:href="@{/users/new}">Registration</a>
            <a th:href="@{/basket}">Basket</a>
            <a th:href="@{/products/create}">Create product</a>
            <form class="d-flex" th:action="@{/products/find-by-title}" method="get">
                <input class="form-control me-2" type="search"
                       aria-label="Search" name="title" th:value="${title}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div>
                Hello, <a th:href="@{/users/profile}"><span sec:authentication="principal.username">Guest</span></a>
            </div>
            <div>
                <a th:href="@{/logout}">Logout</a>
            </div>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <div>
                Hello, Unknown. Please <a th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>